<div class="row">
  <div class="col-xs-12">
    <h1>Recherche</h1>
    <p>
      Votre recherche : <em><%= @query %></em>
    </p>
  </div>
</div>
<div class="row">
  <% @drinks.each do |drink| %>
    <div class="col-xs-12">
      <% if drink.searchable_type == "Beer" %>
        <%= render 'beers/card', beer: drink.searchable %>
      <% elsif drink.searchable_type == "Wine" %>
        <%= render 'wines/card', wine: drink.searchable %>
      <% end %>
    </div>
  <% end %>
</div>

