<h1 class="text-center"><%= @beer.name %></h1>
<p>Noter cette bière</p>

<%= simple_form_for @beer do |f| %>
  <%= f.input(
    :rating,
    as: :select,
    collection: 1..5,
    input_html: { class: "rating-stars" },
    wrapper_html: { class: "stars--x2"},
    label: false
  ) %>
  <br>
  <%= f.button :submit, "Valider", class: "btn btn-danger" %>
<% end %>
