<div class="row">
  <div class="col-xs-6">
    <div class="split bg-beer">
      <h2>Beer</h2>
      <%= link_to "", beers_path, class: "split-link" %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="split bg-wine">
      <h2>Wine</h2>
      <%= link_to "", wines_path, class: "split-link" %>
    </div>
  </div>
</div>

