<div class="panel panel--wine panel--top">
  <h1 class="panel__title">
    Rechercher une bière ou un vin
  </h1>
</div>
<div class="panel panel--middle">
  <form class="navbar-form navbar-left" role="search" action="<%= drinks_path %>">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Recherche" name="query">
    </div>
    <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</div>



