<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.brewdog.com/uploaded_images9/PI_UK_VISUAL_B.jpg');">
  <div class="card-category"><%= beer.style %></div>
  <div class="card-description">
    <h2><%= beer.name %></h2>
    <p>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </p>
  </div>
  <%= link_to "", beer, class: "card-link" %>
</div>
