<div class="row">
  <% @beers.each do |beer| %>
    <div class="col-xs-12">
      <%= render 'beers/card', beer: beer %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to "Ajouter une bière", new_beer_path, class: "btn btn-primary" %>
  </div>
</div>
