<div class="row">
  <% @beers.each do |beer| %>
    <div class="col-xs-12">
      <%= render 'beers/card', beer: beer %>
    </div>
  <% end %>
</div>
<%= link_to new_beer_path, class: "btn btn-danger btn-add" do %>
  <span>+</span>
<% end %>

