.bottom-nav {
  // background-color: #f8f8f8;
  // border: 1px solid transparent;
  // border-color: #e7e7e7;
  // border-width: 1px 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 56px;
  padding: .5rem 1rem;
  display: flex;
  padding: 6px 0 10px 0;
  background-color: #343a40;
  &__btn {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
  }
  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #C6C6C6;
    text-decoration: none;
    &:hover, &:visited {
      color: #C6C6C6;
      text-decoration: none;
    }
    &--active {
      color: #FFF !important;
      &:hover, &:visited {
        color: #FFF !important;
      }
      & g {
        fill: #FFF !important;
        stroke: #FFF !important;
      }
    }
  }
  &__icon {
    font-size: 24px;
    line-height: 22px;
  }
  &__icon--svg {
    & svg {
      width: 24px;
      height: 24px;
    }
    & g {
      fill: #C6C6C6;
      stroke: #C6C6C6;
    }
  }
  &__label {
    display: block;
    font-size: 14px;
    margin-top: -5px;
    font-weight: 300;
  }
}

