// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.font--light {
  font-weight: 300;
}
.margin--bottom-50 {
  margin-bottom: 50px !important;
}
.background--white {
  background-color: #FFF !important;
}
.well {
  overflow: hidden;
}
.well--white {
  background-color: #FFF;
}
label {
  font-weight: 300;
}

.split {
  height: 90vh;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  & h2 {
    margin: 0;
    color: #FFF;
    font-size: 60px;
  }
  & .split-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.bg-wine {
  background-color: #a31818;
  background-image: url('glass_wine.svg');
}
.bg-beer {
  background-color: $beer-light;
  background-image: url('glass_beer.svg');
}
.bg-color-beer {
  background-color: $beer-light;
}
.bg-color-beer-alt {
  background-color: $beer-darker;
}
.btn-beer {
  background-color: $beer-light;
  color: #FFF;
}
.btn-beer-alt {
  background-color: $beer-darker;
  color: #FFF;
}
.btn-wine-alt {
  background-color: $wine-light;
  color: #FFF;
}
.link--wine, .link--wine:hover, .link--wine:focus, .link--wine:visited {
  color: $wine-light;
}
.link--beer, .link--beer:hover, .link--beer:focus, .link--beer:visited {
  color: $beer-darker;
}
.content {
  position: relative;
  height: 100vh;
}
.btn-add {
  position: fixed;
  bottom: 15px;
  right: 5px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1024;
  & span {
    font-size: 35px;
  }
}
